@model FlightsSuggest.Admin.Models.SubscriberListViewModel

<h1>Подписчики</h1>

<div>
     @foreach (var subscriber in Model.Subscribers)
     {
         @Html.Partial("Subscriber", subscriber)
     } 
</div>
