@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        Центр управления полетами
    </h1>
    
    <div>
        @Html.ActionLink("Посмотреть подписчиков", "Index", "Subscribers")
    </div>
</div>